/* Importation de la police Oswald */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --couleur-bandeau: #61787f;
  --couleur-primaire: #000000;
  --couleur-secondaire: #ffffff;
  --couleur-accent: #000000;
  --couleur-accent-hover: #c0392b;
  --couleur-primaire-hover: #1a252f;
  --couleur-texte: #000000;
  --fond-modale: rgba(0, 0, 0, 0.8);
  --largeur-max: 1200px;
  --rayon-bordure: 25px;
}

/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: var(--couleur-secondaire);
  color: var(--couleur-texte);
  line-height: 1.6;
  padding: 20px;
}
.corps-verrouille {
  overflow: hidden;
  height: 100vh;
}

/* En-tête */
.bandeau {
  display: flex;
  justify-content: space-between;
  background-color: var(--couleur-bandeau);
  padding: 10px 20px;
  color: white;
}

.titre-bandeau {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: white;
  font-weight: 200;
}

.logo-bandeau {
  width: 100px;
  height: auto;
  object-fit: contain;
  image-rendering: auto;
}

/* Sections principales */
main {
  max-width: var(--largeur-max);
  margin: 0 auto;
  padding: 0 10px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--couleur-primaire);
}

/* Meilleur film */
.film-en-vedette {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 6px solid black;
}

.infos-film {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titre-film {
  font-size: 48px;
  margin-bottom: 10px;
  color: var(--couleur-primaire);
}

#resume-meilleur-film {
  font-weight: 200;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0;
}

.bouton-details-meilleur-film {
  align-self: flex-end;
  background-color: #fa0b0b;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: 2px solid #fa0b0b;
  border-radius: var(--rayon-bordure);
  padding: 8px 16px;
  margin-top: auto;
}

/* Listes de films */
.liste-films {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  list-style: none;
  padding: 0;
}

.film {
  position: relative;
  overflow: hidden;
}

.film img {
  width: 100%;
  display: block;
  height: auto;
}

/* Overlay contenant titre et bouton */
.film-overlay {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 30%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Titre du film dans l'overlay */
.film-overlay .titre-film_liste {
  margin: 0 0 10px;
  font-size: 24px;
  color: white;
}

/* Bouton dans l'overlay */
.film-overlay .bouton-details {
  align-self: flex-end;
  background-color: var(--couleur-accent);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: var(--rayon-bordure);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

.film-overlay .bouton-details:hover {
  background-color: var(--couleur-accent-hover);
}

/* Sélecteur de catégories */
.categorie-header {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 18px;
}

.categorie-header h2 {
  margin-bottom: 0;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}
.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid black;
  padding: 8px 30px 8px 10px;
  font-size: 24px;
  background-color: white;
  color: black;
  width: auto;
  font-weight: 400;
}
.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid black;
  pointer-events: none;
}

.select-categorie {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Modale */
.modale {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--fond-modale);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modale-cachee {
  display: none;
}

.contenu-modale {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 30px;
  max-width: 900px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  border: 6px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  font-size: 24px;
}
.contenu-modale::-webkit-scrollbar {
  width: 8px;
}

.contenu-modale::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.contenu-modale::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.croix-fermer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  color: red;
  cursor: pointer;
  display: none;
}

.contenu-modale img {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: auto;
  margin-top: 20px;
}

.contenu-texte {
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 5px;
}

.contenu-texte p.espace-apres {
  margin-bottom: 25px;
}

.contenu-modale h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #000000;
  font-weight: bold;
}

.contenu-modale p {
  margin-bottom: 10px;
  margin: 5px 0;
  color: #333;
  line-height: 1.4;
}

.fermer-modale {
  margin-top: 20px;
  align-self: center;
  background-color: #fa0b0b;
  color: white;
  padding: 10px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.fermer-modale:hover {
  background-color: #c90a0a;
}

/* Masque tous les films supplémentaires */
.film.hidden {
  display: none;
}

/* Responsive */
/* Mobile : cacher tous les films après le 2e */
@media screen and (max-width: 480px) {
  .film {
    width: 100%;
  }
  #bouton-details-meilleur-film {
    align-self: center;
    margin-top: 20px;
  }
  .voir-plus {
    margin: 20px auto 0 auto;
    display: block;
    text-align: center;
  }
  .bandeau {
    flex-direction: column;
    text-align: center;
  }
  .titre-bandeau {
    display: none;
  }
  .logo-bandeau {
    display: block;
    margin: 0 auto;
  }

  .bandeau {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contenu-modale {
    flex-direction: column;
    align-items: stretch;
  }

  .contenu-modale img {
    position: static;
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    align-self: center;
    margin: 20px 0;
  }
  .contenu-texte {
    width: 100%;
  }
  .croix-fermer {
    display: block;
  }
  .fermer-modale {
    display: none;
  }
  .film-en-vedette {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* Tablette : cacher tous les films après le 4e */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .film {
    width: calc(50% - 20px); /* 3 par ligne */
    gap: 20px;
    width: 100%;
  }

  .film-en-vedette {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .bouton-details-meilleur-film {
    align-self: flex-end;
    margin-top: auto;
  }
  .film-en-vedette img {
    max-width: 40%;
    height: auto;
  }

  .infos-film {
    max-width: 60%;
  }
  .voir-plus {
    margin: 20px auto 0 auto;
    display: block;
    text-align: center;
  }
  .contenu-modale {
    flex-direction: column;
    align-items: stretch;
  }

  .contenu-modale img {
    position: static;
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    align-self: center;
    margin: 20px 0;
  }

  .contenu-texte {
    width: 100%;
  }
  .croix-fermer {
    display: block;
  }
  .fermer-modale {
    display: none;
  }
}

/* Ordinateur : tout est visible */
@media screen and (min-width: 1025px) {
  .liste-films .film {
    display: block;
  }

  .voir-plus {
    display: none;
  }
  .fermer-modale {
    display: block;
  }
  .croix-fermer {
    display: none;
  }
}
